@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Bungee&family=Bungee+Shade&family=Creepster&family=Faster+One&family=Frijole&family=Kdam+Thmor+Pro&family=Kumar+One&family=Luckiest+Guy&family=Monofett&family=Monoton&family=Montserrat:wght@300;400;500;600&family=Moo+Lah+Lah&family=Nosifer&family=Press+Start+2P&family=Rubik+Wet+Paint&family=Sansita+Swashed:wght@300&family=Satisfy&family=Shojumaru&display=swap');


header {
  background-image: url('../../assets/1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/*Typing container*/
.typingContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: .5rem;
}

.text,
span {
  font-size: 20px;
}

.text ul {
  height: 30px;
  list-style: none;
  overflow: hidden;
}

.text ul li {
  position: relative;
  height: 100px;
  animation: to-top 12s steps(4) infinite;
}

/* .text ul li span {
  color: #fff;
} */
.text ul li::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  /*#000*/
  /* border-left: 4px solid white; */
  animation: to-right 3s steps(19) infinite;
}

@keyframes to-right {

  40%,
  50% {
    left: calc(100% + 50px);
  }

  95% {
    left: 0;
  }
}

@keyframes to-top {
  100% {
    transform: translateY(-400%);
  }
}

.span1 {
  /* background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  color: rgb(251, 251, 251);
  /* padding: 10px; */
}

.span2 {
  /* background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  color: rgb(251, 251, 251);
  /* padding: 10px; */
}

.span3 {
  /* background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  color: rgb(251, 251, 251);
  /* padding: 10px; */
}

.span4 {
  /* background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  color: rgb(251, 251, 251);
  /* padding: 10px; */
}

.rIcon {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(251, 251, 251);
}

/* =============== CTA ============== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* =============== HEADER SOCIALS ============== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* =============== ME ============== */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.me img {
  width: 100%;
  height: 100%;
}

/* =============== SCROLL DOWN ============== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  /*-2.3rem*/
  bottom: 9rem;
  /*5rem*/
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

.mouse {
  position: absolute;
  right: -1.3rem;
  bottom: 4rem;
  transform: rotate(180deg);
  width: 50px;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    /* added after tutorial */
    padding-top: 4rem;
  }

  .header__socials,
  .scroll__down,
  .mouse {
    display: none;
  }

  .me {
    width: 94%;
    max-width: 20rem;
    margin-top: 2.5rem;
    justify-content: center;
  }

  .cta {
    margin-top: 1.7rem;
    gap: 1rem;
  }
}

/*==========================*/
/*SPline*/
/* .spline {
  position: absolute;
  height: 100vh;
} */
